<!doctype html>
<html>
  <head>
    <title>Zomato</title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=<%- gMapsAPIKey %>&v=3.exp"></script> -->
  </head>
  <body>
    <div id="root"><%- reactOutput %></div>
    <script src="/bundle.js"></script>
  </body>
</html>
