<!doctype html>
<html>
  <head>
    <title><%- title %></title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div id="root"><%- reactOutput %></div>
    <script src="/bundle.js"></script>
  </body>
</html>
